body {
  background-color: #fff; }

#top {
  float: right;
  padding: 0 2em;
  width: 20%; }

#main-wrapper {
  margin: 0 2em; }

.scene {
  border: dashed 1px #777;
  height: 40vh;
  width: 40vh;
  position: absolute;
  background: #eee;
  text-align: center; }

.scene-holder {
  width: 100vh;
  height: 100vh;
  text-align: center;
  position: relative;
  background: #fff; }

.back-scene {
  top: 0; }

.front-scene {
  bottom: 0; }

.right-scene {
  left: 60vh; }

.left-scene {
  left: 0; }

.back-scene,
.front-scene {
  left: 30vh; }

.right-scene,
.left-scene {
  top: 30vh; }

.control-scene {
  top: 30vh;
  right: 2em;
  border: solid 1px red; }
